.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .grade-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  