div.modal {
  display: flex;
  width: 100%;
  min-height: 200px;
  justify-content: center;
  position: fixed;
  color: white;
  z-index: 1;
}

div.modal div.preferences {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #42414c;
  border-radius: 5px;
}

div.close-button-container {
  width: 100%;
  margin-top: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

button.close-button {
  background: transparent;
  border: none;
  color: white;
}

button.close-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.preferences label {
  padding: 10px;
  border: solid 1px;
  border-radius: 20px;
  margin: 5px;
}

.preferences label:hover {
  cursor: pointer;
  background-color: #d0cfd2;
  color: #42414c;
}

.preferences input[type="checkbox"] {
  display: none;
}

.preferences input[type="checkbox"]:checked + label {
  background-color: #d0cfd2;
  color: #42414c;
}

.preferences input[type="checkbox"]:checked + label:hover {
  background-color: #42414c;
  color: #d0cfd2;
}

.preference-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

@media (max-width: 768px) {
  div.modal {
    width: 75%;
  }

  div.modal div.preferences {
    padding: 10px;
  }
}